#topData{
    height: 40px;
    background-color: #e9f3f6;
    color: #01038d;
}
a {
    color: #01038d;
  }
.dataBox{
    display: flex;
}
#topHeader{
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
#navContainer{
    display: flex;
    align-items: center;
}
#topHeader ul{
    list-style: none;
}
#topHeader ul li {
    display: inline-block;
    padding-right: 30px;
    color: #082952;

}
#topHeader ul li:hover{
    color: #1008ae;
}
#topHeader ul li:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: #2988c9;
    text-decoration-thickness: 2px;
}
